@font-face {
    font-family: 'Familjen Grotesk';
    src: url('/fonts/FamiljenGrotesk-Regular.woff2') format('woff2'),
         url('/fonts/FamiljenGrotesk-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Familjen Grotesk';
    src: url('/fonts/FamiljenGrotesk-Bold.woff2') format('woff2'),
         url('/fonts/FamiljenGrotesk-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
